.container {
  background-image: url('https://assets-global.website-files.com/5f734f4dbd95382f4fdfa0ea/63e120dba0e597a8b5b4cd64_IMG%20-%20Mainstream%20Ready-p-800.jpg');
  background-size: cover;
  background-position: center;
}
